<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>APP SMS REAL ESTATE</title>

    <%- include ('./partials/head.ejs') %>
    
    </head>
<body>
    <div class="container h-100 ">
        <div class="row align-items-center h-100">
        <div class="card text-center vertical-align">
            <div class="card-body my-auto">
                <h1><span class="fa fa-lock">Login and Register</span></h1>
                <a href="/login" class="btn btn-light">
                <span class="fa fa-user"></span> Local Login
                </a>
                <a href="/signup" class="btn btn-light">
                    <span class="fa fa-user"></span> Local Signup
                    </a>
            </div>
        </div>
        </div>
    </div>
    <!--<H1>Hola cabezona hermosa de pepotas increiblemente grandes te mando un abrazo y un beshito</H1>-->
</body>
</html>