<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

<script src= "/js/textarea.js"></script> 
<script src= "/js/mainupload.js"></script> 


</head>
<body class="signup">
  <div class="container p-4">
        <div class="row">
          <div class="col-md-8 offset-md-2 mb-4">
            <h3 style="color: white;">Upload the file in Json format make sure that there is  selected list because
               if you press the bottom send with no select file the app will show an error  </h3>
          </div>
          <div class="col-md-6 offset-md-3">
            <div class="card">
              <div class="card-body">
                <form action="/bulksms" method="POST" enctype="multipart/form-data">
                 
                    <div class="input-group mb-3">
                      <div class="custom-file">

                          <div class="box">
                            <div class="btn_upload">
                              <input type="file" id="upload_file" class="form-control mt-5 mb-3"  name="File">
                              
                               <!-- <i class="fa fa-cloud-upload fa-2x icon">
                                
                                </i> -->
                            </div>
                              <div class="progress"></div>
                              <div class="success"></div>
                          </div>


                        
                          
                      <label class="" for="inputGroupFile02" aria-describedby="inputGroupFileAddon02" name="File"></label>
                       <!-- <button type="submit">enviar</button> -->

                        
                    
                  <i class="fa fa-cloud-upload"></i>
                  </div>
                  <br>
                  <div class="progress"></div>
                  <div class="success"></div>
                  <div class="error_msg"></div>
                  <div class="view" id="uploaded_view">
                    
                  <span class="file_remove">x</span>
                  
                   
                   <!-- <input type="text" class="form-control" placeholder="Recipient's username" aria-label="Recipient's username" aria-describedby="button-addon2">
                    <button class="btn btn-outline-secondary" type="button" id="button-addon2">Button</button> -->
                    </div>
                  </div>
                <div class="form-group">
                  <button type="submit" class="btn btn-success btn-block mt-4"  onclick="myFunction()">Send</button>
                </div>
                 
                  
                </form>

              </div>
            </div>
          </div>
        </div>
  </div>
     
    
</body>

</html>