<script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>

<nav class="navbar navbar-light bg-light">
  <div class="container-fluid"></div>
<div class="wrapper">
  <div class="navbar">
    <div class="navbar_left">
      <div class="logo ">
        <a class= "text-center"href="#">SMS TWILIO APP</a>
      </div>
    </div>

    <div class="navbar_left">
      <div class="notifications">
       
        
      </div>

      

      <div class="profile">
        
        
        <div class="icon_wrap">
         
            <i class="fas fa-user"></i>
       
          <span class="name">Abhishek</span>
          <i class="fas fa-chevron-down"></i>
        </div>

        <div class="profile_dd dropdown-content">
          <div class="dropdown-content">
          <ul class="profile_ul">
            <li class="profile_li"><a class="profile" href="logout"><span class="picon"><i class="fas fa-user-alt"></i>
                </span>Logout</a>
            </li>
           
          </ul>
        </div>
        </div>
        
      
      </div> 


    </div>
  </div>
  

  
</div>
</div>
</nav>